footer {
    font-size: 1rem;
    background: $background-secondary-color;
    .widgetBox {
        .widgetTitle {
            margin-bottom: .5em;
            h5 {
                color: $text-secondary-color;
                margin: 0;
                font-size: 1.5em;
            }
        }
        .textwidget {
            color: $text-primary-color;
            font-size: 1.6rem;
        }
        .widgetContent {
            form {
                margin-bottom: 2.5em;
                p {
                    font-size: 1.3em;
                    color: $text-primary-color;
                }
            }
            .input {
                width: 100%;
                margin-bottom: 1em;
                input {
                    background: $background-light-grey-color;
                    color: white;
                    margin: 0;
                    border: .1rem solid $background-light-grey-color;
                    border: .1rem solid #6c6c6c;
                    // border-radius: .3em;
                    font-size: 1.3em;
                    &::placeholder {
                        color: $color-grey;
                    }
                }
            }
            button[type="submit"] {
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                background: $background-primary-color;
                color: $text-primary-color;
                padding: .7em 0;
            }
        }
    }
    #footer-bottom {
        // background: $background-primary-color;
        padding: 1.2em 0;
        .btm-footer-text p {
            font-size: 1.1em;
            color: $text-primary-color;
            margin: 0;
            line-height: .7em;
        }
    }
}

@media (min-width: 576px) { 
    footer {
        font-size: 1.1rem;
    }
}
@media (min-width: 768px) { 
    footer {
        font-size: 1.2rem;
    }
}
@media (min-width: 992px) {
    footer {
        font-size: 1.3rem;
    }
}
@media (min-width: 1200px) { 
    footer {
        font-size: 1.5rem;
    } 
}

#user-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: $sidebar-width;
    padding: 2rem;
    .btm-footer-text p {
        margin: 0;
    }
    z-index: 10;
    opacity: .9;
}