footer {
    background: $background-secondary-color;
    padding-top: 8rem;
  
    .widgetBox {
        .widgetTitle {
            margin-bottom: 1rem;
            h5 {
                color: $text-secondary-color;
                margin: 0;
                font-size: 2.1rem;
            }
        }
        .textwidget {
            color: $text-primary-color;
            font-size: 1.6rem;
        }
        .widgetContent {
            form {
                margin-bottom: 2.5rem;
                p {
                    font-size: 1.3rem;
                    color: $text-primary-color;
                }
                .input {
                    width: 100%;
                    margin-bottom: 1rem;
                    input {
                        background: $background-light-grey-color;
                        color: white;
                        margin: 0;
                        border: .1rem solid $background-light-grey-color;
                        border: .1rem solid #6c6c6c;
                        border-radius: .3rem;
                        font-size: 1.5rem;
                        &::placeholder {
                            color: $color-grey;
                        }
                    }
                }
                button[type="submit"] {
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                    background: $background-primary-color;
                    color: $text-primary-color;
                    padding: 1.2rem 0;
                }
            }
            .secondary-button {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                text-align: center;
                line-height: 3rem;
                margin-right: .4rem;
                background: $background-secondary-light-color;
                svg {
                    font-size: 1.3rem;
                    color: $text-primary-color;
                    line-height: 1.3rem;
                }
            }
        }
        .tagcloud a {
            display: inline-block;
            background: $background-light-grey-color;
            color: $text-primary-color;
            font-size: 1.3rem;
            text-transform: capitalize;
            padding: 1rem;
            border-radius: .3rem;
            margin-bottom: .5rem;
            line-height: 1.3rem;
            margin-left: .3rem;
            &:hover {
                background-color: $color-pink;
                color: $text-secondary-color;
            }
        }
    }
    #footer-bottom {
        background: $background-primary-color;
        padding: 2.5rem 0;
        margin-top: 3rem;
        .logo {
            margin-bottom: 1rem;
        }
        .btm-footer-text p {
            font-size: 1.3rem;
            color: $text-primary-color;
            margin: 0;
            line-height: 1.4rem;
        }
    }
}

#user-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: $sidebar-width;
    padding: 2rem;
    .btm-footer-text p {
        margin: 0;
    }
    z-index: 10;
    opacity: .9;
}