header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    border-bottom: .5rem solid rgba(0, 0, 0, .5);
    opacity: .9;
    font-size: 1rem;
    background-color: $background-secondary-color;
}

@media (min-width: 576px) { 
    header {
        font-size: 1.5rem;
    }
}
@media (min-width: 768px) { 
    header {
        font-size: 2rem;
    }
}
@media (min-width: 992px) {
    header {
        font-size: 2.1rem;
    }
}
@media (min-width: 1200px) { 
    header {
        font-size: 2.4rem;
    } 
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 10em;
    height: $header-height;
    .logo {
        width: 100%;
        height: 100%;
        h2 {
            font-size: 2.2rem;
            color: white;
            font-style: italic;
        }
    }
}

#categories-nav {
    padding-left: 10em;
    height: $header-height;
    li.nav-item {
        margin-left: 2rem;
        a {
            padding: 1.5rem 1rem !important;
            color: $font-nav-color;
            font-size: 1.5rem;
            &:hover {
                background-color: $color-hover-dark;
                border-bottom: 0.4rem solid $color-pink;
            }
        }
    }

    .active {
        background-color: $color-hover-dark;
        border-bottom: 0.4rem solid $color-hover-pink;
    }
}

.search{
    background-color: $background-secondary-color;
    padding: 0.7rem 1.5rem;
    margin-right: 1rem;
    svg {
        color: $font-nav-color;
    }
    &:hover {
        background: $color-pink;
    }
}


.login {
    position: relative;
    top: ($header-height - 3rem) / 2;
    height: 3rem;
    right: 1rem;
}

.loginReg {
    padding: 0.4em 0.1em;
    background: $color-pink;
    border: 0.1rem solid $color-pink;
    color: $font-nav-color;
    &:hover {
        background: $color-hover-pink;
        color: white;
    }
}

.navButton {
    float: right;
    a {
        border-radius: 0.3rem;
        font-size: 1.2rem;
        transition-duration: 0.5s;
        &:hover {
            transition: background-color 0.25s ease-out, color 0.25s ease-out;
        }
    }
}