/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/bower_components
/package-lock.json
/client/node_modules
/client/package-lock.json
/client/build
/composer.lock
/.dump.rdb
/dump.rdb
/public/sitemap.xml
/public/.htaccess
.DS_Store