@import url(https://fonts.googleapis.com/css?family=Nunito);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.korfilm-color-ribbon:before {
  display: block;
  width: 100%;
  height: .1875rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#73D2F6), color-stop(22%, #08C), color-stop(36%, #7FC400), color-stop(48%, #FFD583), color-stop(63%, #FFB21E), color-stop(76%, #FF4D4D), to(#503873));
  background-image: linear-gradient(to right, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
  content: '';
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.user-panel > .info {
  position: relative;
  left: 0;
}

