.sidebar {
    margin-bottom: 30px;
    padding-top: 24px;
    padding-bottom: 60px;
    position: relative;
    z-index: 2;

    .widgetBox {
        margin-bottom: 40px;
        padding: 0 30px;

        .widgetTitle {
            display: flex;
            margin-bottom:14px;
            svg {
                color: #f05323;
                margin-right: 10px;
                font-size: 18px;
            }
            h5 {
                padding-bottom: 5px;
                line-height: 16px;
            }

        }

        #searchform input {
            &[type="submit"] {
                height: 40px;
                line-height: 40px;
                padding: 0 1.5625em;
                color: #fff;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
            height: 40px;
            line-height: 40px;
            font-size: 13px;
            color: #aaaaaa;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .widgetContent {
            .media-object {
                margin-bottom: 10px;
                .media-object-section {
                    .recent-img {
                        width: 120px;
                        height: 80px;
                        overflow: hidden;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        a.hover-posts span svg {
                            font-size: 13px;
                        }
                        &:hover a.hover-posts {
                            visibility: visible;
                            transform: scale(1); 
                            svg {
                                font-size: 13px !important;
                            }
                        }

                    }
                    .media-content {
                        p {
                            margin: 0;
                            svg {
                                font-size: 11px;
                                line-height: 11px;
                                color: #555;
                                display: inline-block;
                                margin-right: 5px;
                            }
                            span {
                                font-size: 11px;
                                line-height: 11px;
                                color: #555;
                                display: inline-block;
                                margin-right: 10px;
                            }
                        }
                        h6 a {
                            font-size: 13px;
                            color: #444444;
                            font-weight: normal;
                        }
                    }
                }
            }
        }

        .tagcloud a {
            display: inline-block;
            background: #6c6c6c;
            color: #eee;
            font-size: 13px;
            text-transform: capitalize;
            padding: 10px;
            border-radius: 3px;
            margin-bottom: 5px;
            line-height: 13px;
            margin-right: 3px;
            &:hover {
                background-color: #e96969;
                color: #e0e0e0;
            }
        }
    }
}
