.fixed .owl-item {
    height: 169px;
    overflow: hidden;
}

.category-heading {
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
    width: 100%;
    .cat-head {
      svg {
        display: inline-block;
        color: #e96969;
        margin-right: 11px;
      }
      h4 {
        display: inline-block;
        text-transform: capitalize;
        margin: 0;
      }
    }
}

.item-movie {
    overflow: hidden;
    text-align: center;
    figure {
        position: relative;
        height: 150px;
        margin: 0;
        border: 1px solid #ececec; 
        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover; 
        }
        a.hover-posts span svg {
            font-size: 18px; 
        }

        figcaption {
            font-weight: bold;
            position: absolute;
            z-index: 3;
            bottom: -4px;
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            padding: 20px;
            background: url(/images/gradient.png) repeat-x;
            h3 {
                color: #fff;
                margin-bottom: 0;
                font-size: 16px;
            }
            p {
                color: #fff;
                font-size: 13px;
                margin: 0;
                font-weight: 400;
            }
        }
    }
    &:hover a.hover-posts {
        visibility: visible;
        transform: scale(1); 
    }
}
