#premium {

    .heading {
        padding: 18px 0;

        .navText {
            margin-top: 3px;
        }

        h4 {
            margin: 0;
            font-size: 1.125rem;

            svg {
                display: inline-block;
                margin-right: 11px;
                color: #e96969;
                font-size: 18px;
            }
        }
    }
    .owl-carousel .item figure.premium-img {
        overflow: hidden;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 300px;
        margin: 0;
        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
        figcaption {
            font-weight: bold;
            position: absolute;
            z-index: 3;
            bottom: -4px;
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            padding: 20px;
            background: url(/images/gradient.png) repeat-x;
            h5 {
                color: #fff;
                margin-bottom: 0;
                font-size: 16px;
            }
            p {
                color: #fff;
                font-size: 13px;
                margin: 0;
                font-weight: 400;
            }
        }
    }
    
    .owl-carousel .item:hover a.hover-posts {
        visibility: visible;
        transform: scale(1);
    }
    .owl-carousel .item:hover figcaption {
        transform: translateY(70px); 
    }
}
