.content {
    .main-heading {
        margin-bottom: 10px;

        .head-title {
            svg {
                display: inline-block;
                color: #e96969;
                margin-right: 11px;
            }

            h4 {
                display: inline-block;
                margin: 0;
            }
        }

        .tabs {
            border: none;
            li.tabs-title {
                margin-left: 5px;
            }
        }
    }

    button {
        color: #8e8e8e;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 0;
        line-height: 30px;
        border-radius: 3px;
        background: #f6f6f6;
        font-size: 13px;
        text-transform: capitalize;
        border: none;
        margin-right: 5px;
        border-radius: 3px;
        &:focus {
            background: #e96969;
            color: #fff !important;
            box-shadow: none !important;
        }
        .active {
            outline: 0 !important;
            background-color: #e96969 !important;
            border: none !important;
            box-shadow: none !important;
            :focus{
                box-shadow: none !important;
            }
        }
        &:not(:disabled):not(.disabled).active {
            background-color: #e96969 !important;
            box-shadow: none !important;
            border: none !important;
        }
        &:hover {
            background-color: #e96969;
        }
    }

    #new-hd-label {
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        color: #444;
    }

    .head-text {
        display: flow-root;
        border-bottom: 1px solid #ececec;
        padding: 14px 0;
        margin-bottom: 30px;

        p {
            margin: 0;
            font-size: 14px;
            span {
                color: #aaaaaa;
                font-size: 12px;
            }
        }
    }

    .post {
        margin-bottom: 10px;
        .post-thumb {
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
            .video-stats {
                position: absolute;
                bottom: 10px;
                width: 100%;
                left: 0;
                padding: 0 10px;

                .thumb-stats:first-of-type {
                    margin-right: 5px;
                    padding: 0 6px;
                }

                .thumb-stats {
                    display: inline-block;
                    background: rgba(0, 0, 0, 0.8);
                    padding: 0 8px;
                    height: 30px;
                    text-align: center;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    border-radius: 3px;

                    h6 {
                        color: #fff;
                        font-weight: 800;
                        margin: 0;
                        line-height: 28px;
                        font-style: italic;
                    }

                    svg {
                        display: inline-block;
                        color: #fff;
                        margin-right: 5px;
                        font-size: 14px;
                    }

                    span {
                        color: #fff;
                        font-size: 11px;
                        display: inline-block;
                    }
                }
            }
        }
        
        .post-des {
            padding: 15px 0 0px 10px;
            h6 {
                margin-bottom: 15px !important;
                font-weight: normal;
                line-height: 13px;
                a {
                    font-size: 15px !important;
                    font-weight: 600;
                    color: #444444 !important;
                }
                &.fixed {
                    height: 23px;
                }
            }
            .post-stats {
                p {
                    margin-bottom: 15px !important;
                    margin-right: 15px;
                    line-height: 11px;
                    svg {
                        color: #555;
                        font-size: 11px;
                        display: inline-block;
                        margin-right: 3px;
                    }
                    span {
                        display: inline-block;
                        font-size: 11px;
                        color: #555;
                        a {
                            color: #555;
                        }
                    }
                }
            }

            .post-summary {
                display: block !important;
                p {
                    color: #aaaaaa;
                    font-size: 13px;
                    overflow: hidden;
                    height: 3em;
                }
            }
        }
    }
}

.borderBottom {
    border-bottom: 1px solid #aaa;
}

.tabs {
    margin: 0;
    list-style-type: none;
    background: #fff;
}

.tabs-title {
    float: left;
}

.tabs-content {
    background: #fff;
    transition: all 0.5s ease;
    padding: 0;
}



.row-btn {
    margin: 30px 0;
}