header {
    background: #fff;
}

.top-button {
    .menu {
        li {
            
            a {
                display: inline-block;
                margin-left: 5px;
                padding: 9px 15px;
                background: #444;
                border-radius: 3px;
                color: #fff;
                text-transform: capitalize;
                font-size: 12px;
                &:hover {
                    background: #e96969;
                }
            }
        }
    }
}

.top-bar-left {
    margin-top: 17px;
}

.top-bar-right {
    display: flex;
    margin-left: 30px;  

    div {
        background: #303030;
        height: 41px;
        border: none;
        margin-top: 17px;
        font-size: 13px;
        border-radius: 3px;
        display: table;

        a {
            display: table-cell;
            vertical-align: middle;
            padding: 0 15px;
            color: #aaaaaa;
            border-radius: 3px;

            &:hover {
                background: #e96969;
                text-decoration: none;
                color: white;
                border-color: #e96969;
                
            }
        }

        &:nth-of-type(2) a {
            color: white;
            background: #e96969;
            &:hover {
                background: #e95252;
            }
        }
    }
}

.top-bar-middle {
    font-size: 13px;
    display: flex;
    text-transform: uppercase;

    .menu {
        a {
            color: #333;
        }
        .selected {
            a {
                border-bottom: 2px solid #e96969;
            }
            svg { 
                color: #e96969;
            }
        }

        > li:first-of-type {
            padding: 0;
        }

        li {
            padding-left: 30px;

            a {
                display: table-cell;
                padding: 32px 0;

                &:hover {
                    text-decoration: none;

                    svg {
                        color: #e96969;
                    }
                }
            }
        }
    }
}


#categories-nav {
    background-color: #444;
    border-color: #444;
    height: 45px;
    
    li.nav-item {
        margin-right: 20px;
        a {
            padding: 15px 10px !important;
            color: #fff;
            &:hover {
                background-color: #303030;
                border-bottom: 4px solid #e96969;
            }
        }
    }

    .active {
        background-color: #303030;
        border-bottom: 4px solid #e96969;
    }
}

.search {
    padding: 5px 15px;
    border-radius: 3px;
    background-color: #888888;
    svg {
        color: #fff;
    }
    &:hover {
        background: #e96969;
        text-decoration: none;
        color: white;
        border-color: #e96969;
        
    }
}