.topBar {
    background: #f0f0f0;
    border-color: #303030;
    padding: 5px 0;
}

.socialLinks {
    a {
        background: #444444;
        border: 1px solid #444;
        color: #aaaaaa;
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;    
        border-radius: 3px;
        margin-right: 4px;

        svg {
            color: #8e8e8e;
        }
    }
}

.top-button {
    .menu {
        li {
            &:nth-of-type(2) a {
                background: #e96969;
                &:hover {
                    background: #e95252;
                }
            }
            a {
                display: inline-block;
                margin-left: 5px;
                padding: 9px 15px;
                background: #444;
                border-radius: 3px;
                color: #fff;
                text-transform: capitalize;
                font-size: 12px;
                &:hover {
                    background: #e96969;
                }
            }
        }
    }
}

#navBar nav {
    height: 80px;
    background: #fff;
    border-color: #444444;
    color: #aaaaaa;
}

.top-bar-left {
    margin-top: 17px;
}

.top-bar-right {
    display: flex;
    margin-left: 30px;  

    div {
        background: #303030;
        height: 41px;
        border: none;
        margin-top: 17px;
        font-size: 13px;
        border-radius: 3px;
        display: table;

        a {
            display: table-cell;
            vertical-align: middle;
            padding: 0 15px;
            color: #aaaaaa;
            border-radius: 3px;

            &:hover {
                background: #e96969;
                text-decoration: none;
                color: white;
                border-color: #e96969;
                
            }
        }
    }

    .search {
        margin-left: 5px;
    }
}

.top-bar-middle {
    font-size: 13px;
    display: flex;
    text-transform: uppercase;

    .menu {
        a {
            color: #aaaaaa;
        }
        .selected {
            a {
                border-bottom: 2px solid #e96969;
            }
            svg { 
                color: #e96969;
            }
        }

        > li:first-of-type {
            padding: 0;
        }

        li {
            padding-left: 30px;

            a {
                display: table-cell;
                padding: 32px 0;

                &:hover {
                    text-decoration: none;
                    border-bottom: 4px solid #e96969;

                    svg {
                        color: #e96969;
                    }
                }
            }
        }
    }
}