.verificationPage {
    padding: 10rem 0;
    position: relative;
    .verification-form {
        margin-top: 5rem;

        .form-group {
            margin-bottom: 3rem;
        }

        .form-check {
            padding-left: 3rem;

            .form-check-input {
                margin-left: -2.5rem;                
            }
        }

        .resend-button {
            float: right;
            width: 10rem;
            height: 4rem;
            font-size: 1.6rem;
        }        
    }

    input {
        background-color: transparent;
        border: 0.1rem solid $color-grey;
        color: white;
        font-size: 1.8rem;
        &:focus {
            border:none;
            background-color: transparent;
            color: white;
        }
        &::placeholder {
            color: #666;
        }
    }
}

