#history-page {
    padding: 5rem 0 10rem 0;
    .history-media{
        margin-top: 5rem;
        .history-image {
            width: 10rem;
            height: auto;
        }
        .media-body {
            margin-left: 2rem;
        }
    }
}