@import 'variables.scss';
@import './Layout/header.scss';
@import './Layout/search.scss';
@import './Layout/sidebar.scss';
@import './videoContent.scss';
@import './Layout/footer.scss';
@import './video.scss';
@import './login.scss';
@import './email_verification.scss';
@import './reset_password.scss';
@import './plan.scss';
@import './history.scss';
@import './pricing.scss';
@import './banner.scss';
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import '~owl.carousel/dist/assets/owl.theme.default.css';
@import '../components/widgets/Videos/Carousel/carousel.scss';


html {
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: $font-primary-color;
    background: $background-primary-color !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
    margin-top: 4.5rem;
    // margin-bottom: 12rem;
    min-height: 80rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: $text-primary-color;
    line-height: 1.5;
    text-transform: uppercase;
}

a {
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
}

.button {
    font-weight: bold;
    // border-radius: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: .1rem solid transparent;
    font-size: 1.3rem;
    background-color: $background-secondary-color;

    &:hover , &:focus {
      background-color: $color-pink !important;
      color: white !important;
    }
}

.input-group {
    display: table;
    width: 100%;
    margin-bottom: 1rem;
    & > :first-child {
      border-radius: 0 0 0 0;
    }
    .input-group-button {
      display: table-cell;
    }
}

.input-group-button {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    height: 100%;
    width: 1%;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    width: 100%;
    height: 2em;
    padding: .1em 1em;
    border: .1rem solid transparent;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

.hover-posts {
    visibility: hidden;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 5;
    top: 0;
    text-align: center;
    transform: scale(0);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      color: white;
      font-size: 1.3rem;
      text-transform: capitalize;
      svg {
        color: white;
        font-size: 3.6rem;
        display: block;
        margin-bottom: .5rem;
        margin: 0 auto;
      }
    }
    &:hover a{
        visibility: visible;
        transform: scale(1); 
    }
}

.secondary-button {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    // border-radius: .3rem;
    border: .1rem solid $background-secondary-light-color;
    margin-left: 1rem;
    display: inline-block;
    text-align: center;
    transition: all 0.5s ease;
    svg {
        color: white;
    }
    &:hover {
      background: #e96969;
    }
}
  
.form-error {
    margin-top: 0 !important;
    color: #e96969;
    display: none;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: bold;
}

.mobile-page .video-card.card {
    .card-img {
        height: 20em !important;
    }
}

.video-card.card {
    border: none;
    margin-bottom: 5em;
    overflow: hidden;
    background-color: rgba(71, 71, 71, 1) ;
    .card-img {
        height: 30vh;
        min-height: 10em ;
        width: 100%;
        background-size: cover !important;
    }
    .video-stats {
        height: 4em;
        .thumb-stats {
            span {
                color: white;
                line-height: 3rem;
            }
        }
        .free-stats {
            position: absolute ;
            left: 1em ;
            z-index: 10 ;
            background-color: #1fac13 !important;
        }
        .user-stats {
            position: absolute ;
            left: 1em ;
            z-index: 10 ;
            background-color: #e96969 !important;
        }
        
        .line-height-props {
            line-height: 2em;
        }
    }
    &:hover a.hover-posts {
        visibility: visible;
        transform: scale(1); }
    
    .hover-posts span svg {
        font-size: 1.8rem !important;
    }
    img {
        width: 100%;
    }
}


.stripe {
    padding-top: 1.5rem;
}

.bgWhite {
    background-color: white !important;
}

.bill-table {
    margin-top: 5rem;
    color: $color-hover-dark;
}

.page-title {
    padding-top: 8rem;
    h2 {
        color: $color-hover-dark;
    }
}

@media (min-width: 57.6rem){
    .modal-dialog.search {
        max-width: 100%;
        margin: 1.75rem auto;
        height: 100%;
        background: #fff;
        margin: 0;

        .modal-content{
            height:100%;
            border: none;
        }
    }
}

.section-header {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    .title {
        text-transform: capitalize;
        font-size: 3rem;
        color: white;
    }
    .title:after {
        content: "";
        display: block;
        height: .4rem;
        width: 10rem;
        background-color: #6195FF;
        // margin-top: 1rem;
    }
}

.text-center .title:after {
    margin: 0 auto;
}

.page-padding {
    padding:3rem 1rem 3rem 1rem;
}

@media (min-width: 576px) { 
    .page-padding {
        padding:5rem 2rem 5rem 2rem;
    }
}
@media (min-width: 768px) { 
    .page-padding {
        padding:5rem 3rem 5rem 3rem;
    }
}
@media (min-width: 992px) {
    .page-padding {
        padding:5rem 4rem 5rem 4rem;
    }
}
@media (min-width: 1200px) { 
    .page-padding {
        padding:5rem 5rem 5rem 5rem;
    }
}

.primary-button {
    height: 3rem;
    font-size: 1.4rem;
}

.loading-page {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    opacity: .5;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    svg {
        margin-top: -50%;
        margin-left: -50%;
    }    
}
.loading-page {
    opacity: 1;
    z-index: 1000;
    background: url('/images/loading.jpg') center center no-repeat;
    background-size: cover;
}

.more-button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0 ;
    background-color:$color-pink;
    color: white !important;
    &:hover {
        background-color: $color-hover-pink !important;
    }
}

.bg-dark {
    // background-color: #444 !important;
}

.pagination {
    li {
        a {
            width: 30px ;
            font-size: 14px ;
            border: none ;
            border-radius: 0 ;
        }
    }
    li.active {
        a {
            background-color: red;
        }
    }
}

div.series {
    .series-index {
        width: 40px ;
        font-size: 20px ;
        border: none ;
        border-radius: 0 ;
    }
}

.video-page {
    .video-name {
        color: white ;
        font-size: 20px ;
        text-transform: capitalize ;
    }
}

.like-button {
    font-size: 14px ;
}

.click-here {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}