.loginPage {
    padding: 10rem 0;
    position: relative;
    .login-form {
        margin-top: 5rem;

        .form-group {
            margin-bottom: 3rem;
        }

        .form-check {
            padding-left: 3rem;

            .form-check-input {
                margin-left: -2.5rem;                
            }
        }

        .login-button {
            float: right;
            width: 10rem;
            height: 4rem;
            font-size: 1.6rem;
        }        
    }

    input {
        background-color: transparent;
        border: 0.1rem solid $color-grey;
        color: black;
        font-size: 1.8rem;
        &:focus {
            border:none;
            background-color: transparent;
            color: black;
        }
        &::placeholder {
            color: #666;
        }
    }

    a.forgot-button {
        color: #666;
    }

    a.signup-button {
        color: white;
    }
}

.loading-page {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    opacity: .5;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    svg {
        margin-top: -50%;
        margin-left: -50%;
    }    
}