$font-primary-color: #aaa;
$font-nav-color: white;
$color-pink: #e96969;
$color-hover-pink: #e95252;
$color-hover-dark: #303030;
$color-grey: #aaa;
$text-primary-color: #aaa;
$text-secondary-color: #ececec;

$background-light-grey-color: #6c6c6c;
$background-primary-color: #2e2e2e;
$background-secondary-color: #444;
$background-secondary-light-color: #888;